@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caladea:ital@1&display=swap");

body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

* {
  font-family: Raleway;
  outline: none;
}
.material-icons-round,
.material-icons {
  cursor: default;
  user-select: none;
}

footer {
  background-color: black;
  color: white;
  z-index: 100000;
  width: 100%;
  padding:  10px 0;
  text-align: center;
}
#home {
  z-index: auto;
  position: relative;

  #quantomylogo {
    position: fixed;
    width: 350px;
    top: -10px;
    left: 300px;
    z-index: 1000;
  }

  #tagline {
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    margin-top: 25vh;
    text-align: center;
    -webkit-text-stroke: 0.5px black;
  }
}

.react-parallax:last-child .react-parallax-content .episode {
  height: 100vh;
}

// #episodes {
//   animation: WebsiteOpen 2s ease-in-out 1;

//   @keyframes WebsiteOpen {
//     from{
//       transform: translateY(1500px);
//       filter: opacity(0);
//     }
//     to {
//       transform: translateY(0);
//       filter: opacity(1);
//     }
//   }
// }
